.bloc-photo {
    width: 720px;
    height: 655px;

    .blocPhoto {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


    .hoverImg {
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &:hover {
            opacity: 1;

            .iconFullscreen {
                font-size: 24px;
                color: white;
                position: absolute;
                top: 20px;
                right: 20px;
            }

            .hoverEye {
                font-size: 32px;
                color: white;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            h2 {
                position: absolute;
                left: 10px;
                top: 612px;
                color: white;
                font-family: 'poppins';
                font-size: 14px;
            }

            h3 {
                position: absolute;
                left: 640px;
                top: 612px;
                color: white;
                font-family: 'poppins';
                font-size: 14px;
            }
        }
    }
}

/* Responsive Mobile */

@media (max-width: 600px) {

    .hoverImg {
        &:hover {
            .iconFullscreen {
                width: 20px !important;
                height: 20px !important;
            }

            .hoverEye {
                width: 23px !important;
                height: 15px !important;
            }

            h2 {
                top: 265px;
                font-size: 12px;
            }

            h3 {
                left: 265px;
                top: 265px;
                font-size: 12px;
            }
        }
    }
}