/* Hero Header */

.containerHero {
    width: 100%;
    height: 962px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 465px) {
        height: 253px;
        margin-bottom: -60px;
    }

    @media screen and (min-width: 466px) and (max-width: 1280px) {
        height: 450px;
        margin-bottom: -60px;
    }

    .imgHero {
        object-fit: cover;
        width: 100%;
        z-index: -1;
        position: relative;

    }

    .titreHero {
        z-index: 2;
        position: absolute;
        font-weight: 700;
        font-family: "spaceMono-Bold", sans-serif;
        font-style: italic;
        font-size: 96px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;

        @media screen and (max-width: 465px) {
            font-size: 28px;
            -webkit-text-stroke: 1px white;
            z-index: -1 !important;
        }

        @media screen and (min-width: 466px) and (max-width: 1280px) {
            font-size: 48px;
            z-index: -1;
        }

    }
}



/* Filtres */

.filter {
    display: flex;
    margin-top: 100px;
    margin-bottom: -100px;

    @media screen and (max-width: 465px) {
        margin-bottom: -110px;
        margin-left: -190px;
        overflow-x: auto;
    }

    @media screen and (min-width: 466px) and (max-width: 1280px) {
        margin-bottom: -110px;
        margin-left: -190px;
        overflow-x: auto;
    }


    .filterLeft {
        display: flex;
        width: 720px;
        margin-left: 217px;
        gap: 160px;

        @media screen and (min-width: 466px) and (max-width: 1280px) {
            gap: 122px;
            margin-right: -19px;
            margin-left: 225px;
        }


        .categoryFilter {
            width: 260px;
            height: 43px;
        }

        .formatFilter {
            width: 260px;
            height: 43px;

            @media screen and (max-width: 465px) {
                margin-left: -140px;
            }

            @media screen and (min-width: 466px) and (max-width: 1280px) {
                margin-left: -140px;
            }

        }
    }

    .selectFilter {
        width: 300px;
        height: 43px;
        border-radius: 8px;
        border: black solid 1px;
        padding: 11px 18px 11px 18px;
        background: url('assets/images/flecheFiltres.png') no-repeat;
        background-position: right 18px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;

        @media screen and (max-width: 465px) {
            width: 250px;
        }

        @media screen and (min-width: 466px) and (max-width: 1280px) {
            width: 215px;
        }

    }

    .selectCategory,
    .selectFormat,
    .selectDate {
        font-family: 'poppins';
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;

        @media screen and (max-width: 465px) {
            font-size: 12px;
        }

        @media screen and (min-width: 466px) and (max-width: 1280px) {
            font-size: 12px;
        }

    }


    .dateFilter {
        width: 300px;
        height: 43px;
        margin-left: auto;
        margin-right: 217px;
    }
}

/* liste photo */


.photoList {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .containerPhotoList {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 720px;
        height: 655px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
        position: relative;

        @media screen and (max-width: 465px) {
            width: 335px;
            height: 300px;
        }

        @media screen and (min-width: 466px) and (max-width: 1280px) {
            width: 335px;
            height: 300px;
        }

    }
}

#loadMoreContainer {
    display: flex;
    margin-top: -80px;
    margin-bottom: 40px;

    #loadMoreButton {
        width: 272px;
        height: 50px;
        border: none;
        background-color: #d8d8d8;
        margin: auto;

        @media screen and (max-width: 465px) {
            margin-top: -30px;
            margin-bottom: -30px;
        }

        @media screen and (min-width: 466px) and (max-width: 1280px) {
            margin-top: -30px;
            margin-bottom: -30px;
        }

    }
}