/* Hero Header */

.containerHero {
    width: 100%;
    height: 962px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .imgHero {
        object-fit: cover;
        width: 100%;
        z-index: -1;
        position: relative;

    }

    .titreHero {
        z-index: 2;
        position: absolute;
        font-weight: 700;
        font-family: "spaceMono-Bold", sans-serif;
        font-style: italic;
        font-size: 96px;
        text-transform: uppercase;
        -webkit-text-stroke: 2px white;
        -webkit-text-fill-color: transparent;
    }
}



/* Filtres */

.filter {
    display: flex;
    margin-top: 100px;
    margin-bottom: -100px;

    select option {
        background-color: initial !important;
        color: initial !important;
        cursor: pointer;
    }


    select option:hover {
        background-color: #FE5858 !important;
        color: #ffffff !important;
    }

    .filterLeft {
        display: flex;
        width: 720px;
        margin-left: 217px;
        gap: 160px;

        .categoryFilter {
            width: 260px;
            height: 43px;
        }

        .formatFilter {
            width: 260px;
            height: 43px;
        }
    }

    .selectFilter {
        width: 300px;
        height: 43px;
        border-radius: 8px;
        border: black solid 1px;
        padding: 11px 18px 11px 18px;
        background: url('assets/images/flecheFiltres.png') no-repeat;
        background-position: right 18px center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;

        &.active {
            border-radius: 8px 8px 0 0;
            border: 1px solid blue;

            .option:hover {
                background-color: red !important;
                /* Changer la couleur au survol */
                color: white !important;
                /* Changer la couleur du texte si nécessaire */
            }


        }
    }

    .selectCategory,
    .selectFormat,
    .selectDate {
        font-family: 'poppins';
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;

        & option[disabled] {
            display: none;
        }
    }


    .dateFilter {
        width: 300px;
        height: 43px;
        margin-left: auto;
        margin-right: 217px;
    }
}

/* liste photo */


.photoList {
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .containerPhotoList {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 720px;
        height: 655px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 30px;
        position: relative;
    }
}

#loadMoreContainer {
    display: flex;
    margin-top: -80px;
    margin-bottom: 40px;

    #loadMoreButton {
        width: 272px;
        height: 50px;
        border: none;
        background-color: #d8d8d8;
        margin: auto;
    }
}


/* Responsive tablette */

@media (min-width: 601px) and (max-width: 1024px) {

    .containerHero {
        height: 450px;
        margin-bottom: -60px;

        .titreHero {
            font-size: 48px;
        }
    }

    .photoList {

        .containerPhotoList {
            width: 335px;
            height: 300px;
        }
    }

    #loadMoreContainer {
        #loadMoreButton {
            margin-top: -30px;
            margin-bottom: -30px;
        }
    }

    .filter {
        margin-bottom: -110px;
        margin-left: -190px;
        overflow-x: auto;

        .filterLeft {
            gap: 122px;
            margin-right: -19px;
            margin-left: 225px;

            .formatFilter {
                margin-left: -140px;
            }
        }

        .selectFilter {
            width: 215px;

        }

        .selectCategory,
        .selectFormat,
        .selectDate {
            font-size: 12px;

            option {
                font-size: 8px !important;
                padding: 5px 2px 1px !important;
                appearance: none !important;
            }

        }
    }
}


/* Responsive Mobile */

@media (max-width: 600px) {
    .containerHero {
        height: 253px;
        margin-bottom: -60px;


        .titreHero {
            font-size: 28px;
            -webkit-text-stroke: 1px white;
            z-index: 1;
        }
    }

    .photoList {

        .containerPhotoList {
            width: 335px;
            height: 300px;
        }
    }

    #loadMoreContainer {
        #loadMoreButton {
            margin-top: -30px;
            margin-bottom: -30px;
        }
    }

    .filter {
        margin-bottom: -110px;
        margin-left: -190px;
        overflow-x: auto;

        .filterLeft {

            .formatFilter {
                margin-left: -140px;
            }
        }

        .selectFilter {
            width: 270px;
        }

        .selectCategory,
        .selectFormat,
        .selectDate {
            font-size: 12px;

            option {
                font-size: 8px !important;
                padding: 5px 2px 1px !important;
                appearance: none !important;
            }

        }
    }
}