.containerLightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;

    &.open {
        opacity: 1;
        pointer-events: auto;
    }

    .fullscreenPhoto {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;

        img {

            width: 100%;
            object-fit: contain;
            height: 100%;

            @media screen and (max-width: 465px) {
                width: 100%;
            }

            @media screen and (min-width: 466px) and (max-width: 1280px) {
                width: 100%;
            }
        }


        .reference {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            position: absolute;
            bottom: -20px;
            left: 230px;

            @media screen and (max-width: 465px) {
                margin-bottom: 165px;
                margin-left: -57px;
            }

            @media screen and (min-width: 466px) and (max-width: 1280px) {
                left: 2px;
                top: 600px;
            }

        }

        .categorie {
            font-family: 'Space Mono', monospace;
            font-weight: 400;
            position: absolute;
            bottom: -20px;
            right: 230px;

            @media screen and (max-width: 465px) {
                margin-left: -317px;
                margin-bottom: 165px;
            }

            @media screen and (min-width: 465px) and (max-width: 1280px) {
                right: 6px;
                top: 600px;
            }
        }

    }

    .close,
    .previous,
    .next {
        position: absolute;
        color: #fff;
        cursor: pointer;
        display: none;
        text-transform: none;


        &.close {

            top: 0;
            right: 1em;
        }

        &.previous {
            left: 0;
            font-size: 12px;
            font-family: 'Space Mono', monospace;

            @media screen and (min-width: 465px) and (max-width: 1280px) {
                left: -50px;
            }
        }

        &.next {
            right: 0;
            font-size: 12px;
            font-family: 'Space Mono', monospace;

            @media screen and (min-width: 465px) and (max-width: 1280px) {
                right: -50px;
            }
        }

        &.next,
        &.previous {
            span {
                @media screen and (min-width: 465px) and (max-width: 1280px) {
                    display: none;
                }
            }

            @media screen and (max-width: 465px) {
                bottom: 0;
            }
        }
    }

    &.open {

        .previous,
        .next,
        .close {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
    }
}